<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/98fbedea-4de7-4e80-bbdc-b7fb582b9e80/resourceGroups/vscs-rg-7fdd884/providers/Microsoft.Web/sites/FamilyMealsApi</ResourceId>
    <ResourceGroup>vscs-rg-7fdd884</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://familymealsapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>familymealsapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FamilyMealsApi</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FamilyMealsApi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>